*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    background: #fff;
    box-sizing: border-box;
    overflow-x: hidden;
}
.clear-fix{
    clear:both;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* My css defined general */
.row:before{
    display: table;
    content: "";
}
.row:after{
    display: table;
    content: "";
    clear: both;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container:before{
    display: table;
    content:"";
}
.container:after{
    display: table;
    content:"";
}
.container-fluid{
    width: 100%;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align:right;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.img-responsive{
    width: 100%;
    display: block;
    height: auto;
}
/* End my css defined general */

.header_top {
    background: #573c27;
    width: 100%;
    height: 38px;
    line-height: 1.2em;
}
.header_top-box{
    padding: 0px 1em;   
}
.header-top-left{
    width: 54.5%;
    float: left;
    margin-top:8px;
}
.header-top-left .header_top-box .header-top-left .box2{
    
}
.header_top-box {
    padding: 0px 1em;
}
select {
    border: none;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 0.65em;
}
.header_top .header_top-box .header-top-left .box1 {
    float: left;
    margin-right: 20%;
}
.header-top-right{
    float: right;
}
.header-top-right ul li a {
    color: #fff;
    display: inline-block;
    margin: 10px;
    font-size: 0.8125em;
}
.header-top-right ul li {
    display: inline;
}
/* End header top */
.header-bottom {
    padding: 3em 0 7em;
}
.header_bottom-box {
    padding: 0px 1em;
}
.header_bottom_left {
    width: 40%;
    float: left;
}
.logo {
    float: left;
    width: 25%;
    margin-right: 25%;
}
ul.clock {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 25%;
    margin-top: 8px;
}
i.clock_icon {
    width: 30px;
    height: 30px;
    background: url(../images/img-sprite.png)no-repeat -2px -3px;
    float: left;
}
ul.clock li.clock_desc {
    color: #100802;
    font: 400 13px/13px 'Raleway', sans-serif;
    overflow: hidden;
    margin-top: 8px;
}
.header_bottom_right {
    width: 60%;
    float: right;
}
.search {
    float: left;
    width: 70%;
    margin-right: 6%;
}
.search input[type="text"] {
    padding: 15px;
    outline: none;
    color: #B6B2AE;
    background: #fff;
    border: 1px solid #f8d5d1;
    width: 85%;
    line-height: 1.5em;
    font: 500 13px/13px 'Raleway', sans-serif;
    -webkit-appearance: none;
}
.search input[type="submit"] {
    background: url(../images/search.png) no-repeat 24px 10px #e05b5b;
    padding: 15px 38px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
}
ul.bag {
    padding: 0;
    list-style: none;
    margin: 0;
    float: left;
    width: 24%;
}
i.bag_left {
    width: 80px;
    height: 46px;
    background: url(../images/img-sprite.png)no-repeat -32px 3px #e05b5b;
    float: left;
    border-right: 1px solid #fff;
}
ul.bag li.bag_right {
    background: #e05b5b;
    padding: 1em 0;
    overflow: hidden;
    text-indent: 0.5em;
}
.bag_right p{
    margin-bottom: 0;
}
ul.bag li.bag_right p {
    font: 500 14px/14px 'Raleway', sans-serif;
    color: #fff;
}
/* End Header bottom */
.button-click{
    display: none;
}
.menu-responsive h3{
        display:none;
    }
.menu {
    border-bottom: 3px solid #e05b5b;
    width: 100%;
    height: 2em;
}
.menu_box{
    width: 100%;
}
.menu_box>.container>ul>li{
    list-style-type: none;
    float: left;
}
.menu_box>.container>ul>li>a {
    color: #100802;
    padding: 8px 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9em;
}
.menu_box.container>ul>li>a.active {
    color: #fff;
    background: #e05b5b;
    text-transform: uppercase;
}

.menu_box>.container>ul>li>a:hover{
    background:red ;
    color:#ffffff;
}

.mega-menu{
    position: relative;
}
.mega-menu a.active {
    background: #e05b5b;
    color: white!important;
}
.dropdown {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 0px;
    left: 0px;
    margin: 10px auto;
    padding: 20px 30px 20px;
    z-index: 99;
    box-shadow: 0px 2px 4px #777;
    margin-top: 25px;
    display: none;
}
.dropdown a {
    color: #555;
    display: inline-block;
    padding: 0.7em 0px 0.3em;
    font-family: 'Raleway', sans-serif;
}
.dropdown a:hover{
    color:#f84545;
}
ul.mega-menu>li:hover .dropdown{
    display: block;
}
/* End menu */
.box-1 {
    background: url(../images/feature.jpg)no-repeat;
    min-height: 100px;
}
i.lock {
    background-position: -109px 6px;
}
i.clock1, i.vehicle, i.dollar, i.lock {
    width: 80px;
    height: 94px;
    background: url(../images/img-sprite.png)no-repeat;
    float: left;
    background-position: -113px 9px;
}

.ship {
    margin-top: 2em;
}
.box-1 p {
    padding-top: 2.2em;
    font: 500 16px/16px 'Raleway', sans-serif;
    color: #fff;
    line-height: 1.5em;
    font-size: 14px;
    font-weight: bold;
}
/* End ship */
.column-center h1 {
    color: #583d28;
    font: 600 40px/40px 'Raleway', sans-serif;
    text-transform: uppercase;
}
.column-center h2 {
    color: #583d28;
    font: 500 16px/30px 'Raleway', sans-serif;
}

.column-center-content {
    text-align: center;
    border-bottom: 3px dotted #ECECEC;
    margin: 1.5em 0 2em;
}
.column-center h2 {
    color: #583d28;
    font: 500 16px/30px 'Raleway', sans-serif;
    margin-bottom: 2em;
}
/* End column center */
i.star {
    width: 30px;
    height: 30px;
    background: url(../images/img-sprite.png)no-repeat -456px -18px;
    float: left;
    margin-right: 1em;
    line-height: 50px;
    margin-left: 1em;
}
.seller-title h2 {
    line-height: 38px;
    margin-left: 0px;
}
.seller-grid-content {
    background: transparent;
    padding: 0.6em 0;
}
.row.seller-title {
    background: #f6eddc;
    min-height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 50px;
}

.grid img {
    width: 100%;
    display: block;
    height: auto;
}
.inner-box {
    border: 1px solid #E7DFD1;
}
.des {
    border-top: 1px solid #cac0ae;
    text-align: center;
    padding: 1em 0 0 0;
}
.des h3 {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}
.des h4 {
    color: #1bccf7;
    margin-bottom: 1.5em;
    text-shadow: 1px 0px 0px #414141;
    -webkit-text-shadow: 1px 0px 1px #DFDFDF;
    -moz-text-shadow: 1px 0px 1px #DFDFDF;
    -o-text-shadow: 1px 0px 1px #DFDFDF;
    font-weight: 300;
    font-size: 1.1em;
}
.row.seller-content {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 2em;
}
.sale-box {
    position: absolute;
    top: -1px;
    right: -1px;
    overflow: hidden;
    height: 40px;
    width: 59px;
    background: url(../images/img-sprite.png) no-repeat -3px -109px;
}
.heart {
    position: absolute;
    bottom: 116px;
    right: 221px;
    overflow: hidden;
    height: 30px;
    width: 32px;
    background: url(../images/img-sprite.png) no-repeat -91px -107px;
}
.col-3.grid {
    padding-right: 0px;
}
/* Css for flexisel */
.nbs-flexisel-nav-left {
    left: 0px;
    background: url(../images/img-sprite.png) no-repeat -145px -106px;
}
.nbs-flexisel-nav-right {
    right: 0px;
    background: url(../images/img-sprite.png) no-repeat -182px -106px;
}
ul.promote li.promote_head h3 {
    color: #553c28;
    font-size: 2em;
    margin: 0;
    text-align: center;
    font-weight: 600;
    padding-top: 1.5em;
    padding-bottom: 1em;
}
i.promote_icon {
    width: 30px;
    height: 30px;
    background: url(../images/img-sprite.png)no-repeat -234px -150px;
    display: inline-block;
    margin-right: 1em;
}
.grid-flex h4{
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-weight: 500;
    font-size: 1.1em;
}
.grid-flex p {
    color: #1bccf7;
    text-shadow: 1px 0px 0px #47DBFF;
    -webkit-text-shadow: 1px 0px 0px #47DBFF;
    -moz-text-shadow: 1px 0px 0px #47DBFF;
    -o-text-shadow: 1px 0px 0px #47DBFF;
    font-weight: 300;
    font-size: 1.1em;
}
.link2 {
     background: url(../images/cart1.png) no-repeat 5px 2px; 
   background-color: #8cb273;
    display: inline-block;
    padding: 10px 15px 10px 65px;
    line-height: 19px;
    font-size:18px;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
#flexiselDemo3 li{
    margin-right: 1em;
    border:1px solid #C7C7C7;
}
.nbs-flexisel-inner{
    border: none;
}
.nbs-flexisel-nav-right{
  background:url(../images/img-sprite.png) no-repeat -182px -106px !important;
}
/* End flexisel */
#blog{
    margin-top: 2em;
}
#blog h1.title {
    color: #8e7568;
    padding: 0.5em 1em 0.5em;
    background: #f6eddc;
    color: #8e7568;
    font-size: 1.5em;
}
.head-title {
    color: #8e7568;
    padding: 0.5em 1em 0.5em;
    background: #f6eddc;
    color: #8e7568;
    margin-bottom: 1em;
}
.col-8.blog-right {
    padding: 0px;
    margin: 0px;
}
.col-4.blog-left {
    padding: 0;
    margin: 0;
    padding-right: 1em;
}
.blog-des h4 a {
    color: #5C4A36;
    margin-bottom: 0.5em;
    display: block;
}
.blog-des p{
    font-size: 0.85em;
    line-height: 1.5em;
    color: #8E7558;
}
.row-defined{
    border-bottom: 3px dotted #5C4A36;
    padding-bottom: 1em;
    padding-top: 1em;
}
/* End blog */
.counttime {
    margin-top: 2em;
}
.time-inbox{
    position: relative;
    border: 5px solid #8cb273;
}
.time-inbox .thumb{
    width: 100%;
    height: 275px;
    background: url(../images/thumb1.jpg) no-repeat;
    display: block;
    border-bottom: 3px solid #8cb273;
}
.timer_desc {
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    text-align: center;
}
.timer_desc h3{
    color: #000;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0;  
}
span.reducedfrom {
    text-decoration: line-through;
    margin-right: 3%;
    color: #000;
}
span.actual {
    color: #ee4a02;
    font-size: 1.5em;
    margin-right: 5%;
    font-weight: 500;
}
.link3 {
    color:#fff;
    background-color: #91b677;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    padding:0.2em 0;
}
/* End blog */
@media screen and (max-width:600px){
    html, body {
        font-family: 'Raleway', sans-serif;
        font-size: 100%;
        background: #fff;
        box-sizing: border-box;
        overflow-x: hidden;
    }
   
    .header_bottom-box {
        padding: 0 !important;
    }
    .header_bottom_left {
        width: 40% !important;
        float: left !important;
    }
    .header_bottom_left .clock{
        display: none;
    }
    
    .header_bottom_right {
        width: 60% !important;
        float: right !important;
    }
    .header_bottom_right ul.bag li.bag_right {
        display: none;
    }
    .search {
        float: left;
        width: 93% !important;
        margin-right: 6%;
    }
    .search input[type="submit"] {
        background: url(../images/search.png) no-repeat 24px 10px #e05b5b;
        padding: 1.18em 2.9em !important;
        border: none;
        cursor: pointer;
        position: absolute;
        outline: none;
    }
    .menu_box>.container>ul>li {
        list-style-type: none;
        padding: 1em 0;
        float: none;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid white;
        background: #e05b5b;
        padding-left: 1em;
        font-weight: bold;
    }
    .menu {
        border-bottom: 3px solid #e05b5b;
        width: 100%;
        height: 22em !important;
    }
    i.bag_left {
       display: none;
    }
    .header{
        width: 100%;
    }
    .header_top{
        width: 100%;
    }
    .header-bottom{
        width: 100%;
    }
    ul.menu{
        width: 100%;
    }

    ul.menu li{
        display: block;
    }
    .mega-menu{
        display: block;
    }


    .slider{
        width: 100%;
        margin-top: 2em;
    }
    .ship{
        width: 100%;
        margin-top: 2em;
    }
    .column-center{
        width: 100%;
    }
    .content_middle{
        width: 100%;
    }
    #blog{
        width: 100%;
    }
    
    #blog .counttime {
        margin-top: 0.5em;
    }
    #blog .col-4.blog-left{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #blog .col-8.blog-right {
        width: 100%;
        margin-top: 1em;
    }
    #blog .row-defined {
        border-bottom: 3px dotted #5C4A36;
        padding-bottom: 1em;
        margin-top: 1em;
        padding: 0;
        margin: 0;
        display: block;
        padding-top: 1em;
        margin-top: 1em;
    }
    i.clock1, i.vehicle, i.dollar, i.lock {
        width: 80px;
        height: 94px;
        background: url(../images/img-sprite.png)no-repeat;
        float: left;
        background-position: -103px 9px;
    }
    .column-center h1 {
        color: #583d28;
        text-transform: uppercase;
        line-height: 1.2em;
        display: inline-block;
        font-size: 2em;
    }
    .ship .col-3{
        padding: 0;
        margin: 0;
    }
    i.fas.fa-bars.button-click {
        font-size: 3em;
        background: none;
        border: none;
        cursor: pointer;
    }
    .button-click{
        display: block;
    }
    i.fas.fa-bars {
        font-size: 2.5em;
        color: #e05b5b;
        cursor: pointer;
    }
    .menu-responsive {
        background: #e05b5b;
        min-height: 2.3em;
    }
    .menu-responsive h3{
        float: left;
        display: block;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-indent: 1em;
        color: white;
    }
    .menu-responsive .button-click{
        float: right;
    }
    .menu {
        border-bottom: 3px solid #e05b5b;
        width: 100%;
        height: auto !important;
        padding-bottom: 0em;
    }
    .mega-menu{
        display: none;
    }
    .header-bottom {
        padding: 3em 0 4em;
    }
    .box-1 {
        background: url(../images/feature.jpg) repeat;
        min-height: 100px;
        margin-bottom: -2em;
    }
    .ship .col-3 {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .column-center h2 {
        color: #583d28;
        font: 500 16px/30px 'Raleway', sans-serif;
        margin-bottom: 2em;
        line-height: 1.5em;
        margin-top: 1.1em;
    }
    .col-3.grid {
        padding-right: 0px;
        width: 100%;
    }
}
/* ENd css for mobile */